<% provide(:title, @user.name) %>
<div class="page-header">
  <h1>Personal Profile Page</h1>
</div>
<h1>Contact Information</h1>
<%= gravatar_for @user %>
        <%= @user.name %>
        <%= form_for @user, url: users_path, html: { multipart: true } do |form| %>
  <%= form.file_field :image %>
  <%= f.submit "Save changes", class: "btn btn-primary" %>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="<%= image_tag @user.image.url(:medium) %>" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p></p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>