<% provide(:title, @user.name) %>
<%= stylesheet_link_tag "profile.css" %>
<div class="page-header">
  <h1>Profile Page</h1>
</div>



    
       <%= gravatar_for @user, size:100  %>
       <h2 id="username">User Name: <%= @user.name %></h2>
       <h2 id="username">Email Address: <%= @user.email %></h2>
       
       
<%=form_for :user, url: url_for( :controller => :messages, :action => :deliver ) do |f| %>
<%= render 'shared/error_messages' %>
<%= f.file_field :image %>
<%= f.text_field :subject %>
<iframe width="680" height="550" src="subject" frameborder="0" allowfullscreen></iframe>
<%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
     
      <div class="caption">
        <h3>Company Images</h3>
        <%= image_tag @user.image.url(:medium) %>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


  

  
